
/*****************************************************
 * Diagnostic CSS class
 *****************************************************/
.listClass {
    background-color: #ffccff;
    background-image: -webkit-gradient(

    linear,
    left bottom,
    left top,
    color-stop(0.96, rgb(173,216,230)),
    color-stop(0.29, rgb(250,240,230))
    );
    background-image: -moz-linear-gradient(
    center bottom,
    rgb(173,216,230) 96%,
    rgb(250,240,230) 29%
    );
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', sans-serif;
    font-size: 10px;
}


.x-panel {
    -webkit-perspective: 1000;    
    -webkit-backface-visibility: hidden;
}

